In [1]:
import psycopg2
from datetime import datetime
from psycopg2 import sql
import requests
from sentence_transformers import SentenceTransformer

def create_conn_source_test():
    conn = None
    try:
        conn = psycopg2.connect(
            host="ep-purple-boat-77462220.ap-southeast-1.aws.neon.tech",
            database="neondb",
            user="gskchaitanya.gadde",
            password="aWO71xgmLjUv"
        )
        print("Connection successful")
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            
def create_conn_destination_test():
    conn = None
    try:
        conn = psycopg2.connect(
            host="aws-0-ap-south-1.pooler.supabase.com",
            database="postgres",
            user="postgres.icrispjgfllulboelvhw",
            password="rJywtQ5R2Wt17hG1",
            port=6543
        )
        print("Connection to destination successful")
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

def create_conn_source(select_query):
    conn = None
    try:
        conn = psycopg2.connect(
            host="ep-purple-boat-77462220.ap-southeast-1.aws.neon.tech",
            database="neondb",
            user="gskchaitanya.gadde",
            password="aWO71xgmLjUv"
        )
        cur = conn.cursor()
        cur.execute(select_query)
        rows = cur.fetchall()
        return rows
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()


def select_conn_destination(select_query):
    conn = None
    try:
        conn = psycopg2.connect(
            host="aws-0-ap-south-1.pooler.supabase.com",
            database="postgres",
            user="postgres.icrispjgfllulboelvhw",
            password="rJywtQ5R2Wt17hG1",
            port=6543
        )
        cur = conn.cursor()
        cur.execute(select_query)
        rows = cur.fetchall()
        return rows
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

def create_conn_destination(insert_query, data):
    conn = None

    try:
        conn = psycopg2.connect(
            host="aws-0-ap-south-1.pooler.supabase.com",
            database="postgres",
            user="postgres.icrispjgfllulboelvhw",
            password="rJywtQ5R2Wt17hG1",
            port=6543
        )
        cur = conn.cursor()
        for item in data:
            #print(item)
            cur.execute(insert_query, item)
        conn.commit()
        cur.close()
        print("Data inserted successfully")
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

def update_conn_source(update_query):
    conn = None
    try:
        conn = psycopg2.connect(
            host="ep-purple-boat-77462220.ap-southeast-1.aws.neon.tech",
            database="neondb",
            user="gskchaitanya.gadde",
            password="aWO71xgmLjUv"
        )
        cur = conn.cursor()
        cur.execute(update_query)
        conn.commit()
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

def update_conn_destination(update_query):
    conn = None

    try:
        conn = psycopg2.connect(
            host="aws-0-ap-south-1.pooler.supabase.com",
            database="postgres",
            user="postgres.icrispjgfllulboelvhw",
            password="rJywtQ5R2Wt17hG1",
            port=6543
        )
        cur = conn.cursor()
        cur.execute(update_query)
        conn.commit()
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

#create_conn_source_test()
#create_conn_destination_test()

In [10]:

outlet1 = "SELECT id, outlet_display, logo_url FROM synopse_articles.t_v1_outlets"
outlet1_output = create_conn_source(outlet1)
print(outlet1_output)
outlet_insert_query ="INSERT INTO synopse_articles.t_v1_outlets (outlet_id, outlet_display, logo_url) VALUES (%s, %s, %s) ON CONFLICT DO NOTHING"
outlet_data = outlet1_output
create_conn_destination(outlet_insert_query, outlet_data)


t_v4_tags_hierarchy = """
SELECT 
    id,
    tag,
    tag_hierachy,
    tag_description,
    is_valid
FROM 
    synopse_articles.t_v4_tags_hierarchy;
"""
t_v4_tags_hierarchy_output = create_conn_source(t_v4_tags_hierarchy)

t_v4_tags_hierarchy_insert_query ="""
INSERT INTO synopse_articles.t_v4_tags_hierarchy (
    tag_id,
    tag,
    tag_hierachy,
    tag_description,
    is_valid
) VALUES (%s, %s, %s, %s, %s)  ON CONFLICT DO NOTHING;
"""
create_conn_destination(t_v4_tags_hierarchy_insert_query, t_v4_tags_hierarchy_output)

[(35, 'ఆంధ్ర జ్యోతి', 'https://i.postimg.cc/nVSDSf6x/ABN-Andhra-Jyothi.png'), (36, 'ఈనాడు', 'https://i.postimg.cc/fb1cwc39/eenadu.jpg'), (37, 'ONE India', 'https://i.postimg.cc/XJCywQLj/oneindia-og-image-new.png'), (1, 'Times of India', 'https://i.postimg.cc/pXnK0rKK/times-of-india.jpg'), (2, 'The Hindu', 'https://i.postimg.cc/bwQ1SXQh/h-circle-black-white-new.png'), (3, 'CNN', 'https://i.postimg.cc/d18BZd6t/81762-cnn-icon.png'), (4, 'Fox News', 'https://i.postimg.cc/26x7kWCp/Fox-News-Channel-logo-svg-1.png'), (6, 'CBS News', 'https://i.postimg.cc/rpDztskC/cbs.png'), (8, 'ESPN', 'https://i.postimg.cc/Jz9G7R5Q/espn.png'), (9, 'Forbes', 'https://i.postimg.cc/cCSdPHZv/forbes.png'), (10, 'ABC News', 'https://i.postimg.cc/FRZPQrJP/ABC-News.png'), (13, 'Huff Post', 'https://i.postimg.cc/9MSCGmSw/huffpost.png'), (5, 'The New York Times', 'https://i.postimg.cc/kgYsD9qm/bqp32una36b06hmbulla-1.png'), (12, 'Thomson Reuters', 'https://i.postimg.cc/RC2CwpLx/pngegg-1.png'), (7, 'CNBC', 'https://i.postimg.cc/25R7ZsCt/2560px-CNBC-logo-svg-1.png'), (11, 'The Wall Street Journal', 'https://i.postimg.cc/76G4WtCS/Wall-Street-Journal-2-1.png'), (14, 'politico', 'https://i.postimg.cc/T2CBqzGk/politico.png'), (15, 'The Independent', 'https://i.postimg.cc/QNcTV8ps/The-Independent-logo-PNG-5-1.png'), (16, 'TechCrunch', 'https://i.postimg.cc/CL26fj0z/Tech-Crunch-logo-PNG-6-1.png'), (17, 'The Verge', 'https://i.postimg.cc/zXj4yXwV/the-verge-logo-262950-FD04-seeklogo-com-1.png'), (20, 'Vox', 'https://i.postimg.cc/ydv74TD1/vox-logo-4x3-7.png'), (23, 'The Washington Post', 'https://i.postimg.cc/HkN8cRCy/Washington-Post-logo-PNG-7-1.png'), (24, 'Al Jazeera', 'https://i.postimg.cc/HWFTBw6D/31-Tq-Bc-QUlc-L-1.png'), (25, 'Wired', 'https://i.postimg.cc/7YdkDdhQ/wired-logo.png'), (26, 'MarketWatch', 'https://i.postimg.cc/y8XynHYb/349849786-654995026500822-8760545680436255474-n-1.png'), (27, 'New York Post', 'https://i.postimg.cc/YCBYZqXx/nypost-1.png'), (29, 'The Wire', 'https://i.postimg.cc/V6zpCSr7/f-M601-Ih5-400x400.png'), (28, 'AppleInsider', 'https://i.postimg.cc/BZzJqm1h/279786065-537377121127747-719916321218241838-n.png'), (30, 'WION', 'https://i.postimg.cc/QdQrKZYd/62e1bf8fe655e-384x384-1.png'), (31, 'The Indian Express', 'https://i.postimg.cc/W1SL26f9/8c1ca88a053554c6421e9a430e8d64ca-1.png'), (32, 'Hindustan Times', 'https://i.postimg.cc/8PgLGx3b/hindustantimes-com-1.png'), (33, 'Latestly', 'https://i.postimg.cc/sDQcqfQ5/unnamed-1-1.png'), (34, 'The Daily Beast', 'https://i.postimg.cc/9FYGv4XR/White2x-hcwpd6-1.png')]
Data inserted successfully
Data inserted successfully

In [3]:
while True:
    articles = """
     SELECT 
        a.id, 
        a.title, 
        a.post_link, 
        a.author, 
        a.image_link, 
        a.post_published, 
        c.id as outlet_id
    FROM 
        synopse_articles.t_v1_rss1_articles a
    INNER JOIN 
        synopse_articles.t_v1_rss1_feed_links b ON a.rss1_feed_id = b.id 
    INNER JOIN 
        synopse_articles.t_v1_outlets c ON b.outlet  = c.outlet 
    WHERE  a.prod = 0
    ORDER BY 
        a.id DESC
    LIMIT 200 
    """
    articles_output = create_conn_source(articles)
    if len(articles_output) == 0:
        break
    articles_insert_query ="INSERT INTO synopse_articles.t_v1_rss1_articles (article_id, title, post_link, author, image_link, post_published, outlet_id)VALUES (%s, %s, %s, %s, %s, %s, %s)"
    create_conn_destination(articles_insert_query, articles_output)
    ids = []
    for i in range(len(articles_output)):
        ids.append(articles_output[i][0])
    t_ids = tuple(ids)
    update_query = "UPDATE synopse_articles.t_v1_rss1_articles SET prod = 1 WHERE id IN " + str(t_ids) + ";"
    update_conn_source(update_query)

Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully

In [5]:
while True:
    articles_l2 = """
    SELECT 
        a.id, 
        a.is_valid,
        a.articles_group,
        a.articles_in_group,
        a.article_comment_id
    FROM 
        synopse_articles.t_v3_article_groups_l2 a
    WHERE
        a.prod = 0
        and a.is_ai_tagged = 1
        ORDER BY 
            a.id DESC
        LIMIT 200 
    """
    articles_l2_output = create_conn_source(articles_l2)
    if len(articles_l2_output) == 0:
        break
    articles_l2_insert_query ="INSERT INTO synopse_articles.t_v3_article_groups_l2 (article_group_id, is_valid, articles_group, articles_in_group, article_comment_id)VALUES (%s, %s, %s, %s, %s)"
    create_conn_destination(articles_l2_insert_query, articles_l2_output)
    ids = []
    for i in range(len(articles_l2_output)):
        ids.append(articles_l2_output[i][0])
    t_ids = tuple(ids)
    update_query = "UPDATE synopse_articles.t_v3_article_groups_l2 SET prod = 1 WHERE id IN " + str(t_ids) + ";"
    update_conn_source(update_query)

Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully

In [2]:
    
while True:
    articles_l2_details = """
    SELECT 
        a.article_group_id,
        a.title,
        a.summary,
        a.is_valid,
        a.image_urls,
        a.logo_urls,
        a.summary_60_words,
        a.keywords_tags,
        a.location_tags,
        a.org_tags,
        a.person_tags,
        a.group_ai_tags_l1,
        b.tag_root,
        b.tag_tree,
        a.is_audio_created_valid,
        a.llm_keypoints
    FROM 
        synopse_articles.t_v4_article_groups_l2_detail a
    LEFT OUTER JOIN 
        synopse_articles.t_v4_berttopics b 
    ON 
        b.topic_name = a.group_ai_tags_l1
    WHERE 
        a.prod = 0 AND b.tag_tree != 'na' AND a.logo_urls is not null
        ORDER BY 
            a.id DESC
        LIMIT 200;
    """
    articles_l2_details_output = create_conn_source(articles_l2_details)
    if len(articles_l2_details_output) == 0:
        break
    articles_l2_details_insert_query ="""
    INSERT INTO synopse_articles.t_v4_article_groups_l2_detail (
        article_group_id,
        title,
        summary,
        is_valid,
        image_urls,
        logo_urls,
        summary_60_words,
        keywords_tags,
        location_tags,
        org_tags,
        person_tags,
        group_ai_tags_l1,
        group_ai_tags_l2,
        group_ai_tags_l3,
        is_audio_created_valid,
        keypoints
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)  ON CONFLICT DO NOTHING;
    """
    create_conn_destination(articles_l2_details_insert_query, articles_l2_details_output)
    ids = []
    for i in range(len(articles_l2_details_output)):
        ids.append(articles_l2_details_output[i][0])
    t_ids = tuple(ids)
    update_query = "UPDATE synopse_articles.t_v4_article_groups_l2_detail SET prod = 1 WHERE article_group_id IN " + str(t_ids) + ";"
    update_conn_source(update_query)

Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully

In [2]:


def is_valid_image(url):
    try:
        response = requests.get(url)
        return response.status_code == 200
    except requests.exceptions.RequestException as e:
        return False
i = - 1
while True:
    i = i + 1
    t_v4_tags_hierarchy = """
    SELECT
        a.image_link
    FROM 
        synopse_articles.t_v1_rss1_articles a
    WHERE 
        a.is_grouped = 2 
        and a.image_link is not null
        and a.image_link != ''
    ORDER BY 
        a.id DESC
        LIMIT 200 OFFSET """ + str(i*200) + """;
    """
    t_v4_tags_hierarchy_output = create_conn_source(t_v4_tags_hierarchy)
    if len(t_v4_tags_hierarchy_output) == 0:
        break
    for link in t_v4_tags_hierarchy_output:
        if (is_valid_image(link[0]) == False):
            q1= f"""UPDATE synopse_articles.t_v1_rss1_articles
                SET image_link = ''
                WHERE image_link = '{link[0]}';"""
            q2 = f"""UPDATE synopse_articles.t_v4_article_groups_l2_detail
                SET image_urls = array_remove(image_urls, '{link[0]}')
                WHERE '{link[0]}' = ANY(image_urls);"""
            print(str(is_valid_image(link[0])) + "   " + link[0])
            update_conn_source(q1)
            update_conn_source(q2)
            update_conn_destination(q1)
            update_conn_destination(q2)

False   https://static.toiimg.com/photo/msid-107067144,imgsize-.cms
False   https://www.hindustantimes.com/ht-img/img/2024/01/22/1600x900/ctet_answer_key_1705894311671_1705894311911.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/22/1600x900/JEE_Mains_2024_1705908631546_1705908631738.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/23/1600x900/Overloaded-server-causes-breakdown-of-online-trans_1702495805125_1705978847748.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/23/1600x900/Students-who-applied-online-are-required-to-submit_1696184699697_1705988780113.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/23/1600x900/civil-services_b721d25c-acd9-11e8-abd2-5c322fa89f61_1705988827579.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/23/1600x900/nift_2024_city_intimation_slip_1705994246301_1705994251472.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/23/1600x900/ge22e013d124ea4334c57b1257b1280e1842b52ed0ca275921_1705995135206_1705995135417.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/23/1600x900/extended_1622263482211_1705997994001.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/23/1600x900/delhi_homegaurd_1706009058955_1706009065664.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/23/1600x900/wbmsc_1706012019465_1706012024681.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/23/1600x900/dmat_342ef522-cada-11e8-9909-7a4552f8c093_1706019667900.jpg
False   https://static.toiimg.com/photo/msid-107065797,imgsize-.cms
False   https://www.hindustantimes.com/ht-img/img/2024/01/21/1600x900/PTI01-21-2024-000107A-0_1705850918179_1705850996089.jpg
False   https://static.toiimg.com/photo/msid-107066673,imgsize-.cms
False   https://www.hindustantimes.com/ht-img/img/2024/01/22/1600x900/PTI12-24-2023-000090B-0_1705919110418_1705919178339.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/22/1600x900/shoaib_bashoor_getty_1705930401940_1705930424332.jpg
False   https://www.hindustantimes.com/ht-img/img/2024/01/22/1600x900/MixCollage-22-Jan-2024-09-10-PM-6065_1705940649817_1705940656069.jpg

In [ ]:
model = SentenceTransformer('Supabase/gte-small')
while True:
    vectorize_query = """
    select
        a.article_group_id,
        a.title,
        a.summary
        from
    synopse_articles.t_v4_article_groups_l2_detail a , synopse_articles.t_v3_article_groups_l2 b
        where
        a.article_group_id = b.article_group_id and
        b.is_vectorized = 0
    limit 10;
    """
    vectorize_query_input = select_conn_destination(vectorize_query)
    if len(vectorize_query_input) == 0:
        break
    sentences = vectorize_query_input
    embeddings = model.encode(sentences)
    v1 = []
    ids = []
    for i in range(len(vectorize_query_input)):
        v2 = []
        v2.append(vectorize_query_input[i][0])
        v2.append(str(embeddings[i].tolist()))
        v1.append(tuple(v2))
        ids.append(vectorize_query_input[i][0])
    ids_t = tuple(ids)
    q1= f"""UPDATE synopse_articles.t_v3_article_groups_l2
                SET is_vectorized = 1
                WHERE article_group_id in {ids_t};"""
    update_conn_destination(q1)
    v1_insert_query ="INSERT INTO synopse_articles.t_v5_article_groups_vectors (article_group_id, embedding) VALUES (%s, %s)"
    create_conn_destination(v1_insert_query, v1)

In [3]:
model = SentenceTransformer('Supabase/gte-small')
i = - 1
while True:
    i = i + 1
    vectorize_query = """
    select 
        account, 
        combined_titles,
        combined_tags
    from synopse_realtime.v_user_engage_v2
    limit 200 OFFSET """ + str(i*200) + """;
    """
    vectorize_query_input = select_conn_destination(vectorize_query)
    if len(vectorize_query_input) == 0:
        break
    sentences = vectorize_query_input
    embeddings = model.encode(sentences)
    v1 = []
    ids = []
    for i in range(len(vectorize_query_input)):
        q1= f"""UPDATE synopse_auth.t_auth_user_profile
                    SET is_vectorized = 1 and embedding = {str(embeddings[i].tolist())}
                    WHERE article_group_id in {vectorize_query_input[i][0]};"""
        update_conn_destination(q1)

[('120abd3b-2567-4781-8cea-e96031fe1070', [' Bangladesh vs New Zealand in Napier', ' Bangladesh vs New Zealand in Napier', ' Nirvana sued over naked baby on cover of Nevermind', ' Nirvana sued over naked baby on cover of Nevermind', ' Oscars shortlists: "Barbie" and "Oppenheimer"', ' Oscars shortlists: "Barbie" and "Oppenheimer"', ' Angola Exits OPEC Amid Disputes Over Oil Production Ceilings', ' Angola Exits OPEC Amid Disputes Over Oil Production Ceilings', " Mangaluru's Christmas shopping booming", " Mangaluru's Christmas shopping booming", " Amethi, BJP's stronghold in Uttar Pradesh, retakes stronghold", " Amethi, BJP's stronghold in Uttar Pradesh, retakes stronghold", " Sakshi Malik and other wrestlers retire from wrestling after Brij Bhushan Sharan Singh's loyalist elected as WFI president", " Sakshi Malik and other wrestlers retire from wrestling after Brij Bhushan Sharan Singh's loyalist elected as WFI president", ' Government nurses in Rajasthan demand free treatment', ' Government nurses in Rajasthan demand free treatment', ' Bandland Music Festival Rocks Bengaluru with Electrifying Lineup and Successful Event', ' Bandland Music Festival Rocks Bengaluru with Electrifying Lineup and Successful Event', ' Indian grandmaster D. Gukesh wins Chennai Grand Masters Chess Championship', ' Indian grandmaster D. Gukesh wins Chennai Grand Masters Chess Championship', ' MH370: Retired fisherman claims MH370 was found in South Australian waters', ' MH370: Retired fisherman claims MH370 was found in South Australian waters'], ['Stocks', 'Banking', 'Stocks', 'Banking', 'Stocks', 'Banking', 'Stocks', 'Banking', 'Stocks', 'Banking', 'Stocks', 'Banking', 'Stocks', 'Banking', 'Stocks', 'Banking', 'Stocks', 'Banking', 'Stocks', 'Banking', 'Stocks', 'Banking']), ('8a653bfc-0fae-4311-8892-25d4cfda3601', [' Nafeesa Peruvai Returns to Work Nine Days After Giving Birth', ' Nafeesa Peruvai Returns to Work Nine Days After Giving Birth', ' Nafeesa Peruvai Returns to Work Nine Days After Giving Birth', ' Nafeesa Peruvai Returns to Work Nine Days After Giving Birth', ' Nirvana sued over naked baby on cover of Nevermind', ' Nirvana sued over naked baby on cover of Nevermind', ' Nirvana sued over naked baby on cover of Nevermind', ' Nirvana sued over naked baby on cover of Nevermind', " Switzerland's Bern Considering Cocaine Legalization", " Switzerland's Bern Considering Cocaine Legalization", " Switzerland's Bern Considering Cocaine Legalization", " Switzerland's Bern Considering Cocaine Legalization", ' WHO adds second malaria vaccine to its list of prequalified vaccines', ' WHO adds second malaria vaccine to its list of prequalified vaccines', ' WHO adds second malaria vaccine to its list of prequalified vaccines', ' WHO adds second malaria vaccine to its list of prequalified vaccines', ' MH370: Retired fisherman claims MH370 was found in South Australian waters', ' MH370: Retired fisherman claims MH370 was found in South Australian waters', ' MH370: Retired fisherman claims MH370 was found in South Australian waters', ' MH370: Retired fisherman claims MH370 was found in South Australian waters', ' Penguin Innovative Engineering: Pani puri machines make food', ' Penguin Innovative Engineering: Pani puri machines make food', ' Penguin Innovative Engineering: Pani puri machines make food', ' Penguin Innovative Engineering: Pani puri machines make food', ' Houthi Rebels Attack Commercial Ships in Red Sea', ' Houthi Rebels Attack Commercial Ships in Red Sea', ' Houthi Rebels Attack Commercial Ships in Red Sea', ' Houthi Rebels Attack Commercial Ships in Red Sea'], ['Stocks', 'Food', 'Artificial Intelligence', 'International Politics', 'Stocks', 'Food', 'Artificial Intelligence', 'International Politics', 'Stocks', 'Food', 'Artificial Intelligence', 'International Politics', 'Stocks', 'Food', 'Artificial Intelligence', 'International Politics', 'Stocks', 'Food', 'Artificial Intelligence', 'International Politics', 'Stocks', 'Food', 'Artificial Intelligence', 'International Politics', 'Stocks', 'Food', 'Artificial Intelligence', 'International Politics'])]

In [9]:
Short_discriptions = """
SELECT 
    article_id, 
    ARRAY_TO_STRING(description, ' ') AS combined_description
FROM synopse_articles.t_v1_rss1_articles_detail
where 
    (LENGTH(ARRAY_TO_STRING(description, ' ')) - LENGTH(REPLACE(ARRAY_TO_STRING(description, ' '), ' ', '')) + 1) BETWEEN 5 AND 300 ;
"""
Short_discriptions_input = create_conn_source(Short_discriptions)
for item in Short_discriptions_input:
    print(item)
    summary = """ + str (item[1]) +"""
    q1= f"""UPDATE synopse_articles.t_v1_rss1_articles
        SET summary = '{summary}' ,  is_summerized = 1
        WHERE id = {item[0]};"""
    q2 = f"""DELETE FROM synopse_articles.t_v1_rss1_articles_detail
        WHERE article_id = {item[0]};"""
    update_conn_source(q1)
    update_conn_source(q2)

In [10]:
no_discriptions = """
SELECT 
    article_id, 
    ARRAY_TO_STRING(description, ' ') AS combined_description
FROM synopse_articles.t_v1_rss1_articles_detail
where 
    (LENGTH(ARRAY_TO_STRING(description, ' ')) - LENGTH(REPLACE(ARRAY_TO_STRING(description, ' '), ' ', '')) + 1) < 6 ;
"""
no_discriptions_input = create_conn_source(no_discriptions)
for item in no_discriptions_input:
    #print(item)
    q2 = f"""DELETE FROM synopse_articles.t_v1_rss1_articles_detail
        WHERE article_id = {item[0]};"""
    update_conn_source(q2)